<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/bcaserto/IdeaProjects/FinalProject2">
        <classes>
            <class name="GuestTester">
                <methods>
                    <include name="initiate_driver"></include>
                    <include name="open_headline"></include>
                    <include name="inspect_author"></include>
                    <include name="inspect_commenter"></include>
                    <include name="search_test"></include>
                    <include name="close_driver"></include>
                </methods>
            </class>
            <class name="LoggedTester">
                <methods>
                    <include name="initiate_driver"></include>
                    <include name="login_test"></include>
                    <include name="open_article"></include>
                    <include name="comment_testing"></include>
                    <include name="account_test"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>