<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/bcaserto/IdeaProjects/FinalProject2">
        <classes>
            <class name="GuestTester">
                <methods>

                </methods>
            </class>
            <class name="LoggedTester">
                <methods>

                </methods>
            </class>
        </classes>
    </test>
</suite>